# Take out the audio files containing music

Based on my observation, files that contain a music label typically involve heavy audio editing, sound effects, or even music that replaces the original audio recording of the environment. As a result, those files should be excluded.

In [1]:
import pandas as pd

In [2]:
def takeout_music(file_dir):
    # file_dir = '../data/raw/GoogleAudioSet_unbalanced_list/Outside, rural or natural'
    import glob
    df = pd.read_csv(file_dir+'.csv', header=None, names=['ID', 'start', 'end', 'label'])
    df['start'] = df['start'].astype('int').astype('str')
    dl = glob.glob(file_dir+'/*')
    dl_id = [i.rsplit('/', 1)[1] for i in dl]
    dl_id = [i.rsplit('.', 2)[0] for i in dl_id]
    df['filename'] = df['ID']+'_'+df['start']
    ind = df['filename'].isin(dl_id)
    df_files = df[ind]
    df_files.drop_duplicates(inplace = True)
    music_ind = df_files['label'].str.contains('/m/04rlf')
    df_noMusic = df_files[~music_ind]
    return df_noMusic

In [3]:
df_nature_noMusic = takeout_music('../data/raw/GoogleAudioSet_unbalanced_list/Outside, rural or natural')
df_city_noMusic = takeout_music('../data/raw/GoogleAudioSet_unbalanced_list/Outside, urban or manmade')
df_nature_eval_noMusic = takeout_music('../data/raw/GoogleAudioSet_eval_list/Outside, rural or natural')
df_city_eval_noMusic = takeout_music('../data/raw/GoogleAudioSet_eval_list/Outside, urban or manmade')

/var/folders/fw/slnm06yn15lgwlcg_7jpt3t00000gn/T/ipykernel_81656/1649835587.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_files.drop_duplicates(inplace = True)
/var/folders/fw/slnm06yn15lgwlcg_7jpt3t00000gn/T/ipykernel_81656/1649835587.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_files.drop_duplicates(inplace = True)
/var/folders/fw/slnm06yn15lgwlcg_7jpt3t00000gn/T/ipykernel_81656/1649835587.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_files.drop_duplicates(inplace = True)
/var/folders/fw/slnm06yn15lgwlcg_7jpt3t00000gn/T/ipykernel_81656/1649835587.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_files.drop_duplicates(inplace = True)

In [4]:
df_nature_noMusic.to_csv('../data/interim/GoogleAudioSet_unbalanced_list/nature_no_music.csv')
df_city_noMusic.to_csv('../data/interim/GoogleAudioSet_unbalanced_list/city_no_music.csv')
df_nature_eval_noMusic.to_csv('../data/interim/GoogleAudioSet_eval_list/nature_no_music.csv')
df_city_eval_noMusic.to_csv('../data/interim/GoogleAudioSet_eval_list/city_no_music.csv')

In [5]:
df_nature_noMusic

,ID,start,end,label,filename
0,EnYCR1Un1sM,50,60.0,"/t/dd00128,/t/dd00129",EnYCR1Un1sM_50
1,0ciqurcvtfk,290,300.0,"/m/09x0r,/t/dd00125,/t/dd00128,/t/dd00129",0ciqurcvtfk_290
3,3XYD9ttL_n8,360,370.0,"/m/07yv9,/m/09x0r,/m/0k4j,/t/dd00128,/t/dd00129",3XYD9ttL_n8_360
5,1zsuZ0U7sp8,30,40.0,"/t/dd00128,/t/dd00129",1zsuZ0U7sp8_30
6,7Yg5xpknzrE,9,19.0,"/m/09x0r,/t/dd00128,/t/dd00129",7Yg5xpknzrE_9
...,...,...,...,...,...
10076,F-qG7bPdkEM,500,510.0,"/m/07yv9,/m/09x0r,/m/0k4j,/t/dd00129",F-qG7bPdkEM_500
10077,GZ4EZlWzdVQ,30,40.0,/t/dd00129,GZ4EZlWzdVQ_30
10078,OGbV8IZ99PM,10,20.0,"/m/09x0r,/t/dd00129",OGbV8IZ99PM_10
10081,6pCRDkR_07I,10,20.0,"/m/06d_3,/m/07jdr,/m/07yv9,/t/dd00129",6pCRDkR_07I_10
10082,El-8bArXiVM,30,40.0,"/m/09x0r,/m/0h0rv,/m/0jbk,/t/dd00129",El-8bArXiVM_30

In [6]:
df_city_noMusic

,ID,start,end,label,filename
2,NOCmIXHhH4I,30,40.0,"/m/015p6,/m/09x0r,/t/dd00128",NOCmIXHhH4I_30
4,6XQpgD1xHRo,30,40.0,"/m/03qtwd,/m/09x0r,/t/dd00128",6XQpgD1xHRo_30
5,EoPwGvWd0bE,30,40.0,"/m/03qtwd,/m/09x0r,/t/dd00128",EoPwGvWd0bE_30
6,1baytYmpcTA,140,150.0,"/m/07q2z82,/m/07yv9,/m/0k4j,/m/0ltv,/t/dd00128",1baytYmpcTA_140
8,4L4BLenn0qo,30,40.0,"/m/07yv9,/m/09x0r,/t/dd00128",4L4BLenn0qo_30
...,...,...,...,...,...
10063,Ek6b8qeq-Uo,30,40.0,"/m/015p6,/m/09x0r,/t/dd00128,/t/dd00129",Ek6b8qeq-Uo_30
10067,1h4KqjROaig,30,40.0,"/m/09x0r,/t/dd00128,/t/dd00129",1h4KqjROaig_30
10068,3soOU1Ve8cg,10,20.0,"/m/09x0r,/t/dd00128,/t/dd00129",3soOU1Ve8cg_10
10072,GkQyt4QxtuM,20,30.0,"/m/09x0r,/t/dd00128,/t/dd00129",GkQyt4QxtuM_20
10073,HId7yOxZvlM,23,33.0,"/m/06h7j,/m/09x0r,/t/dd00128,/t/dd00129",HId7yOxZvlM_23

In [7]:
df_nature_eval_noMusic

,ID,start,end,label,filename
0,-AeiYb4vDK0,340,350,"/m/03cczk,/m/07pdhp0,/m/09x0r,/m/0jbk,/t/dd00129",-AeiYb4vDK0_340
3,-aOxR6ILsw8,0,10,"/m/07pb8fc,/m/07yv9,/m/0k4j,/t/dd00129,/t/dd00130",-aOxR6ILsw8_0
4,09kqMqn5rWs,260,270,"/m/09x0r,/m/0ytgt,/t/dd00013,/t/dd00129",09kqMqn5rWs_260
8,1MTKUN3uFrs,440,450,"/m/09x0r,/m/0g6b5,/t/dd00129",1MTKUN3uFrs_440
10,1hwkxJOl1PY,20,30,"/m/09x0r,/m/0cdnk,/m/0jbk,/t/dd00129",1hwkxJOl1PY_20
...,...,...,...,...,...
179,xrXBOipi0aw,100,110,"/m/07p6mqd,/m/09x0r,/t/dd00129",xrXBOipi0aw_100
180,y8LwovQ4DCk,0,10,"/m/03p19w,/m/09x0r,/t/dd00129",y8LwovQ4DCk_0
181,yj1rM159CdI,40,50,"/m/0cj0r,/t/dd00129",yj1rM159CdI_40
182,ylYizn2GxmA,180,190,"/m/07p6mqd,/m/09x0r,/t/dd00129",ylYizn2GxmA_180
184,zlH9KxAhP5Q,110,120,"/m/01280g,/m/0ghcn6,/m/0jbk,/t/dd00129",zlH9KxAhP5Q_110

In [8]:
df_city_eval_noMusic

,ID,start,end,label,filename
0,-116CjQ3MAg,160,170,"/m/015p6,/m/0chx_,/t/dd00128",-116CjQ3MAg_160
1,-9mHz0OsKKw,0,10,"/m/07qv_d5,/m/07yv9,/m/0k4j,/t/dd00128",-9mHz0OsKKw_0
2,-YRJHtktT1g,170,180,"/m/07qv_d5,/m/07yv9,/m/09x0r,/m/0k4j,/t/dd00128",-YRJHtktT1g_170
5,-vRhQeleXzE,0,10,"/m/05x_td,/m/07qv_d5,/m/07yv9,/m/0btp2,/m/0k4j...",-vRhQeleXzE_0
9,27rw1ni1k0c,1,11,"/m/06h7j,/m/09x0r,/t/dd00128",27rw1ni1k0c_1
...,...,...,...,...,...
218,y5IxijSlAy0,110,120,"/m/03cl9h,/m/07yv9,/m/09x0r,/t/dd00128",y5IxijSlAy0_110
219,yG4EHLARjmk,50,60,"/m/07qfr4h,/m/09x0r,/t/dd00128",yG4EHLARjmk_50
220,yREkNmpG9J4,30,40,"/m/06h7j,/m/09x0r,/t/dd00128",yREkNmpG9J4_30
224,zDULhAxsJfY,60,70,"/m/04fgwm,/t/dd00128",zDULhAxsJfY_60
225,zr1aII6jfmk,180,190,"/m/01bjv,/m/02rhddq,/m/07yv9,/t/dd00128",zr1aII6jfmk_180